Repository PalanQu/easycoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, buflint

golint:
  entry: go run cmd/lint/main.go go
  language: system
  name: lint .go source files
  stages:
  - commit

buflint:
  entry: go run cmd/lint/main.go proto
  language: system
  name: lint .proto source files
  stages:
  - commit

comment go cn proxy
  Dockerfile
  TODO
Due: none

add license
  LICENSE
Due: none

dev
  Dockerfile
  TODO
Due: none

add readme
  Makefile
  README.md
  cmd/migrate/cmd/root.go
  config.yaml
  docker-compose.yml
  docs/mysql.md
  docs/pics/metrics.png
  docs/pics/swagger.png
  migrations/README.md
  migrations/pet/20220721171924_pet.down.sql
  migrations/pet/20220721171924_pet.up.sql
  migrations/pet/20220721201827_pet.down.sql
  migrations/pet/20220721201827_pet.up.sql
  migrations/pet/20220721202028_pet.down.sql
  migrations/pet/20220721202028_pet.up.sql
  pkg/orm/pet.go
Due: golint

update readme
  README.md
Due: none

add chinese readme
  docs/README_CN.md
  docs/startup.md
Due: none

update readme
  README.md
  docs/README_CN.md
Due: none

update readme
  TODO
Due: none

update register
  internal/service/register.go
Due: golint

fix on start database error
  README.md
  config.yaml
  docs/README_CN.md
  internal/app/kernel.go
  internal/config/config.go
  internal/config/database.go
  internal/config/default.go
  pkg/db/db.go
Due: golint

deploy: add deployment
  .gitignore
  Dockerfile
  deploy/chart/Chart.yaml
  deploy/chart/app-readme.md
  deploy/chart/requirements.lock
  deploy/chart/templates/server/configmap.yaml
  deploy/chart/templates/server/deploy.yaml
  deploy/chart/templates/server/service.yaml
  deploy/chart/values.yaml
Due: none

Update README.md
  README.md
Due: none

Update README_CN.md
  docs/README_CN.md
Due: none

py proto
  .gitignore
  api/buf.gen.yaml
Due: none

gitignore
  .gitignore
Due: none

benchmark
  .gitignore
  api/.buf.ignore.yaml
  api/buf.gen.yaml
  api/payment_apis/payment/payment.proto
  cmd/manage/cmd/proto/go.go
  testing/benchmark/pet/locustfile.py
  testing/benchmark/pet/test.py
Due: golint, buflint

add monitor
  config.yaml
  deploy/chart/templates/server/service.yaml
  deploy/chart/templates/server/service_monitor.yaml
  deploy/chart/values.yaml
Due: none

update readme
  README.md
  docs/README_CN.md
  docs/pics/coverage.png
Due: none

refactor: errors
  Makefile
  docker-compose.yml
  internal/app/kernel.go
  internal/middleware/error/interceptor.go
  internal/middleware/log/interceptor.go
  internal/service/pet/get_pet.go
  pkg/errors/errors.go
Due: golint

fix
  go.sum
  internal/service/pet/put_pet.go
  pkg/db/ent.go
  pkg/ent/schema/pet.go
Due: golint

add readme
  migrations/README.md
  pkg/ent/generate.go
  pkg/ent/migrate/migrate.go
Due: golint

update cmd
  cmd/manage/cmd/db/init.go
  cmd/manage/cmd/db/migrate.go
  cmd/manage/cmd/db/root.go
  cmd/manage/cmd/db_migrate/config.yaml
  cmd/manage/cmd/db_migrate/generate.go
  cmd/manage/cmd/db_migrate/root.go
  cmd/manage/cmd/root.go
  cmd/migrate/cmd/root.go
  cmd/migrate/cmd/step.go
  cmd/migrate/cmd/version.go
  cmd/migrate/main.go
  go.mod
  go.sum
  migrations/README.md
  pkg/db/ent.go
  pkg/ent/schema/README.md
Due: golint

Path conditions:
  golint: any of: ^.*\.go$, but not: (?x)^(
    .*\.pb\.go|                 # Protobuf files
    .*\.pb\.gw\.go|             # Protobuf gateway files
    .*\.pb\.validate\.go|       # Protobuf validate files
    .*\.swagger\.json|          # Swagger json files
)$

  buflint: any of: ^.*\.proto$, but not: (?x)^(
    .*\.pb\.go|                 # Protobuf files
    .*\.pb\.gw\.go|             # Protobuf gateway files
    .*\.pb\.validate\.go|       # Protobuf validate files
    .*\.swagger\.json|          # Swagger json files
)$

